* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  display: grid;
}
h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 50px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 10px;
}
header {
  background-image: linear-gradient(to right, #8c59fc, #846ffc, #40e0d0);
  display: flex;
  height: 40vh;
  border-style: solid;
  border-color: red;
}
h1#office {
  width: 450px;
  height: 50px;
  margin-top: 20px;
}

div#resume_office {
  width: 300px;
  height: 120px;
  margin-top: 80px;
}
img#Vanessa\.jpg {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 10px 10px;
  align-items: center;
}
div#Vanessa\.jpg {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
}

/* img#logo {
  display: flex;
  text-align: center;
  width: 60vh;
  height: 50vh;
  margin-left: 40px;

  border-style: solid black;
} */
.section {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;

  background-image: linear-gradient(to left, #8c59fc, #846ffc, #ab909f);
}

section#who.section {
  height: 800px;
  text-align: center;
}

img#jpg\.profile {
  margin-top: 20px;
  padding-top: 40px;
  margin-left: 120px;
  width: 150px;
  height: 250px;
}
p#who {
  font-weight: 200;
  margin-right: 10px;
  text-align: justify;
}

h4 {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 200;
  text-align: center;
}
h4#courses {
  margin-top: 10px;
}
#courses {
  /* padding-top: 10px; */
}
img#linkedin {
  width: 100px;
  height: 50px;
  margin-left: 40px;
  margin-top: 20px;
}
section#skills.section {
  background-color: #ab909f;
  border-style: solid;
  border-color: pink;
  height: 400px;
  display: flex;
}
div#allSkills {
  list-style: none;

  width: 400px;
  height: 450px;
  display: flex;
  font-size: medium;
  align-items: center;
  font-weight: bold;
}
.skills {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
}
img#skills_HTML {
  margin-right: 50px;
  margin-bottom: 10px;
}
img#skills_CSS.skills {
  margin-right: 75px;
}
img#skills_JS {
  margin-bottom: 10px;
}

div#sectionPrimary {
  display: inline;

  margin-right: 20px;
}

p {
  font-weight: bold;

  margin-right: 10px;
}
div {
  display: flex;
}
div#sectionSecondary {
  list-style: none;

  width: 264px;
  height: 264px;
  display: flex;
}

li {
  list-style: none;
}

#projects {
  background-color: #ab909f;
  border-style: solid;
  border-color: yellow;
  display: grid;
}
p#resume {
  font-weight: lighter;
}

div#all_img_Devlinks {
  display: inline;
}

img#dev_Light {
  margin-bottom: 10px;
  margin-left: 120px;
  width: 250px;
  height: 250px;
  align-items: center;
  display: inline;
}

img#dev_Black {
  margin-bottom: 10px;
  margin-left: 120px;
  width: 250px;
  height: 250px;
  display: inline;
}
img#setup {
  margin-bottom: 10px;
  margin-left: 40px;
  width: 250px;
  height: 250px;
  align-items: center;
}
footer {
  width: 5%vh;
  height: 30vh;
  border-style: solid;
  border-color: red;
}
@media (1920px <= width) {
  .section {
    width: 850px;
  }
}

@media queries(992px <= width<= 1199px) {
}

@media queries(481px <= width <= 767px) {
}

@media queries(480px <= width) {
}
