* {
  padding: 0;
  margin: 0;
}
h1 {
  margin-top: 10px;
  margin-left: 10px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 5%vh;
  height: 30vh;
  border-style: solid;
  border-color: red;
}
.section {
  width: 30%vh;
  height: 250vh;
}
img {
  height: 100vh;
  width: auto;
  margin-bottom: 20px;
}
#who {
  margin-top: 10px;
  border-style: solid;
  border-color: black;
  background-color: aquamarine;
}
#skills {
  background-color: beige;
  border-style: solid;
  border-color: pink;
}
#projects {
  background-color: blueviolet;
  border-style: solid;
  border-color: yellow;
}

footer {
  width: 5%vh;
  height: 30vh;
  border-style: solid;
  border-color: red;
}
