* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1 {
  margin-top: 10px;
  margin-left: 40px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-image: linear-gradient(to right, #8c59fc, #846ffc, #40e0d0);

  border-style: solid;
  border-color: red;

  display: flex;
  align-items: center;
}

img#logo {
  display: flex;
  text-align: center;
  width: 106vh;
  height: 60vh;

  border-style: solid black;
}
.section {
  width: auto;
  height: 160vh;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;

  background-image: linear-gradient(to left, #8c59fc, #846ffc, #ab909f);
}
img {
  height: 80vh;
  width: auto;
}
img#jpg\.profile {
  padding-top: 20px;
  margin-top: 20px;
  padding-top: 40px;
  margin-left: 120px;
  border-style: solid red;
}
p#who {
  font-weight: 200;
  margin-left: 5px;
}

h4 {
  margin-left: 20px;
  font-weight: 200;
}

#courses {
  padding-top: 10px;
}
section#skills.section {
  background-color: #ab909f;
  border-style: solid;
  border-color: pink;
}
div#allSkills {
  list-style: none;
  display: flex;
  font-size: medium;
  align-items: flex-start;
}
img#skills {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  margin-left: 30px;
}
div#sectionPrimary {
  display: inline;
  margin-top: 20px;
}
p {
  margin-left: 30px;
}
div#sectionSecondary {
  list-style: none;
  margin-left: 30px;
  margin-top: 20px;
}
li {
  list-style: none;
  margin-top: 20px;
}
#projects {
  background-color: #ab909f;
  border-style: solid;
  border-color: yellow;
}

footer {
  width: 5%vh;
  height: 30vh;
  border-style: solid;
  border-color: red;
}
