* {
  padding: 0;
  margin: 0;
}
h1 {
  margin-top: 10px;
  margin-left: 40px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-image: linear-gradient(to right, #8c59fc, #846ffc, #40e0d0);

  border-style: solid;
  border-color: red;

  display: flex;
  align-items: center;
}

img#logo {
  display: flex;
  text-align: center;
  width: 106vh;
  height: 60vh;

  border-style: solid black;
}
.section {
  width: 30%vh;
  height: 160vh;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;

  background-image: linear-gradient(to left, #8c59fc, #846ffc, #ab909f);
}
img {
  height: 80vh;
  width: auto;
}
img#jpg\.profile {
  padding-top: 20px;
  margin-top: 20px;
  padding-top: 40px;
  margin-left: 120px;
  border-style: solid red;
}

h4 {
  margin-left: 43px;
}

#courses {
  padding-top: 10px;
}
#skills {
  background-color: #ab909f;
  border-style: solid;
  border-color: pink;
}
div {
  display: flex;
}
#sectionSecondary {
  display: flex;
  flex-direction: column;
}
img#skills {
  width: 50px;
  height: 50px;
}
#projects {
  background-color: #ab909f;
  border-style: solid;
  border-color: yellow;
}

footer {
  width: 5%vh;
  height: 30vh;
  border-style: solid;
  border-color: red;
}
