* {
  padding: 0;
  margin: 0;
}
h1 {
  margin-top: 10px;
  margin-left: 10px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 106vh;
  height: 60vh;
  border-style: solid;
  border-color: red;
}
#logo.div {
  text-align: center;
}
#logo {
  width: 106vh;
  height: 60vh;
}
.section {
  width: 30%vh;
  height: 160vh;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ab909f;
}
img {
  height: 80vh;
  width: auto;
  margin-bottom: 20px;
}
#jpg.profile {
  padding-top: 20px;
  margin-top: 20px;
  padding-top: 20px;
}
#who {
  border-style: solid;
  border-color: black;
  background-color: #ab909f;
  margin-top: 40px;
}
#courses {
  padding-top: 10px;
}
#skills {
  background-color: #ab909f;
  border-style: solid;
  border-color: pink;
}
#projects {
  background-color: #ab909f;
  border-style: solid;
  border-color: yellow;
}

footer {
  width: 5%vh;
  height: 30vh;
  border-style: solid;
  border-color: red;
}
